
@{
    ViewData["Title"] = "Menus";
}

<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/css/Menus.css" />
</head>
<body>
    <main>
        <form asp-action="Menus" asp-controller="Home">
            <img src="~/image/solbegLogo.png" height="100" width="200"/>
            <input asp-action="Logout" asp-controller="Account" type="submit">
            <label>Log out</label>
        </form>
    </main>
</body>
</html>

