body {
    background-image: url(../image/backgroudOffice.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
main {
    width: 300px;
    height: auto !important;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 4px 0px 94px 0px rgba(34, 60, 80, 0.5);
    background: rgb(100,155,255);
    background: linear-gradient(42deg, rgba(100,155,255,1) 0%, rgba(255,255,255,1) 81%);
}
.form_title {
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 1px;
    color: rgb(255 255 255);
    text-shadow: 3px 3px 3px rgba(34, 60, 80, 0.3);
}
div {
    position: relative;
    margin: 50px 0 25px 0;
}
div input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    outline:none;
}
div label{
    position:absolute;
    left:0;
    top:0;
    color:rgb(255 255 255);
    font-size: 15px;
    font-weight:800;
}
    div input:focus ~ label,
    div input:valid ~ label {
        left: 0;
        top: -22px;
    }

.SignUp {
    background: transparent;
    border: 1px solid #fff;
    width: 95%;
    height: 50px;
    margin: 0 0 3px 50px;
    font-size: 15px;
    font-weight: 800;
    box-shadow: 13px 13px 8px 2px rgba(34, 60, 80, 0.3);
    transition-duration: 0.4s;
}
    .SignUp:hover {
        background-color: rgb(255 255 255);
        color: rgba(251,63,63,1);
        width: 90%;
        height: 47px;
        margin: 0 0 3px 50px;
        font-size: 15px;
        font-weight: 800;
        box-shadow: 13px 13px 8px 2px rgba(34, 60, 80, 0.3);
    }
.SignIn {
    background: transparent;
    border: 1px solid #fff;
    width: 95%;
    height: 50px;
    margin: 0 70px 3px -3px;
    font-size: 15px;
    font-weight: 800;
    box-shadow: 13px 13px 8px 2px rgba(34, 60, 80, 0.3);
    transition-duration: 0.4s;
}
    .SignIn:hover {
        background-color: rgb(255 255 255);
        color: rgba(251,63,63,1);
        border: 1px solid #fff;
        width: 90%;
        height: 47px;
        margin: 0 70px 3px -3px;
        font-size: 15px;
        font-weight: 800;
        box-shadow: 13px 13px 8px 2px rgba(34, 60, 80, 0.3);
    }
